* {
  box-sizing: border-box;
}


h1  {
  font-size: 80px;
  color: black;
  text-align: center;
  /* font-family: sans-serif; */
  font-family: 'Dokdo', cursive;

  margin-top: 10px;
margin-bottom: 0;
}

h2 {
  color: grey;
  text-align: center;
   text-transform: uppercase;
  font-size: 15px;
  font-family: sans-serif;
  margin-top: -5px;
  margin-bottom: 50px;
  font-weight: bold;
}

body {

  background-color: white;
}


nav {
  text-align: center;
}

nav ul {
  list-style: none;
 /* margin-left: 220px;
 margin-top: -10px; */
 text-align: center;


}

nav ul li {
display: inline;
/* display: inline-block; */
/* font-size: 0.9em; */
text-align: center;
margin: 0 50px 0 50px;



}

nav ul li a {
  text-decoration: none;
  font-size: 20px;
  color: black;
  /* font-family: 'Dokdo', cursive; */
  font-family: sans-serif;
  font-weight: bold;
  text-transform: uppercase;


}

nav ul li a:hover {
  color: orange;
  text-decoration: none;

}

 .color {
  color: rgb(169,169,169);
}

.watermells {
  /* width: 600px; */
  display:block;
  margin-left: auto;
 margin-right: auto;
width: 100%;

}

.listen {
  text-transform: uppercase;
  text-align: center;
  color: red;
  font-weight: bold;
  font-family: 'Dokdo';
  font-size: 40px;
  margin-top: 4px;
}

.play {
  margin-left: 50%;
  margin-bottom: 50%;
}


.video {
    width: 100%;
}
.wrapper{
    display:table;
    width:auto;
    position:relative;
    width:100%;
}

.backgroundLeaf {
    visibility: hidden;
}
.playpause {

    background-image: url(../greyplay.png);
    background-repeat:no-repeat;
    width:30%;
    height:20%;
    position:absolute;
    left:0%;
    right:0%;
    top:0%;
    bottom:0%;
    margin:auto;
    background-size:contain;
    background-position: center;
}

div: hover {
  color: black;
}

.text {
  text-transform: uppercase;
  text-align: center;
  color:white;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 18px;
  margin-top: 190px;
}



.luca {

  font-size: 24px;
  font-family: sans-serif;
  margin: 70px;
}


/*styling for googledocs contact form  */
iframe {
  margin-top: 40px;
width: 100%;
}

#googleform {
text-align: center;
}

.contactback {
background-image: url(../textureleaf.jpeg);
}

/*  styling for about page*/
.split {
   height: 100%;
 width: 50%;
 font-family: sans-serif;
 font-size: 22px;

 font-family: 'Inconsolata', monospace;
 color: #eeeee0;
}

.left {
  margin-left: 20px;
  margin-top:50px;
 /* background-color: rgb(105,105,105); */
  padding: 30px;
  width: 50%;
  text-align: left;


}

.pic {
  background-image: url(../textureleaf.jpeg);
width: 45%;
}

/* Control the right side */
.right {
  /* right: 0; */
  float: right;
  margin-top: -530px;
  width: 50%;
}

/*  styling the media player positions */

.player {
  margin-top: 90px;
}

.beatText {
  margin-top: -500px;
  margin-right: 150px;
  padding: 30px;
  width: 30%;
  float: right;
  font-family: 'Inconsolata', monospace;
  background-image: url(../textureleaf.jpeg);
  color: #eeeee0;
  font-size: 20px;
}

/* .palm {
  margin-top: -750px;
  margin-left: -400px;
} */


footer p {
text-transform: uppercase;
text-align: center;
font-family: sans-serif;
font-size: 14px;
}

.icons {
  text-align: center;
  margin: 15px;
  }
.icons li {
  display:inline-block;
  list-style-type:none;
  -webkit-user-select:none;
  -moz-user-select:none;
  }
.icons li a {
  border-bottom: none;
  }
.icons li img {
  width:40px;
  height:40px;
  margin-right: 20px;
}

/* responsive design */

@media only screen and (min-width : 320px) and (max-width : 480px) {

/*  HOME PAGE */

/*  add relevant classes to html eg. nav */
nav ul li a {
  font-size: 20px;

}


nav ul {
  list-style: none;


}

nav ul li {
display: block;
margin-left: 20px;


}
.color {
  color: black;
}

.navi {
text-align: center;

}
h2 {
  margin-bottom: 20px;
}
.playpause {

    background-image: url(../greyplay.png);
    background-repeat:no-repeat;
    width:120px;
    height:120px;
    position:absolute;
    margin-top: 90px;
    background-size:contain;
    background-position: center;
}

.text {
  margin-top: 130px;
    text-transform: uppercase;
    color:white;
    font-family: sans-serif;
    font-size: 13px;
  }


video {
display: none;
}

.backgroundLeaf {
   visibility: visible;
   width:inherit;
}

.wholeBody {
    /* background-image: url(../textureleaf.jpeg); */
    background-image: url(../tropics.jpg);
    width: 100%;
    /* width:500px; */
    height: 400px;
  }

/*  ABOUT PAGE */
.split {
  width: 100%;
  font-size: 19px;
}

.left {
width:100%;
text-align: left;
padding: 20px;
margin: 0;
/* margin-bottom: 20px; */


}

.right {
/* float:none; */
width: 100%;
margin: 0;
padding: 20px;
/* margin-top: 30px; */

}

/*  BEATS PAGE */

.player {
  /* margin-top: 35px; */
  margin: 0;
  width: 100%;
}

.beatText {
  margin: 0;
  padding: 15px;
  padding-top: 5px;
  margin-bottom: 13px;
  width: 100%;
  text-align: center;
 font-family: 'Inconsolata', monospace;
  background-image: url(../textureleaf.jpeg);
  color: #eeeee0;
  font-size: 20px;
}



/*  CONTACT PAGE*/

iframe {
  padding: 10px;
}





}

@media only screen and (max-width : 320px) {
/* Styles */

body {
background-color: red;
};

};
